.big-box1 {
    border: 1px solid black;
    height: 15rem;
    a {
        text-decoration: none;
    }
    p {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.7rem;
        font-weight: 600;
        color: black;
    }
    transition: .3s ease-in-out;
    &:hover {
        background-color: #8fbedf;
        p {
            color: white;
        }
    }
}
.blue {
    background-color: #8fbedf;
    p {
        color: white;
    }
    &:hover {
        background-color: white;
        p {
            color: black;
        }
    }
}