@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: "Raleway", sans-serif;
}

.page {
    position: absolute;
    background-color: white;
    width: 100%;
}

.page-enter {
    opacity: 0;
    // transform: scale(1.1);
}

.page-enter-active {
    opacity: 1;
    // transform: scale(1);
    transition: opacity 250ms;
}

.page-exit {
    opacity: 1;
    // transform: scale(1);
}

.page-exit-active {
    opacity: 0;
    // transform: scale(0.9);
    transition: opacity 250ms;
}

.center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.center-relative {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.inline-block {
    width: fit-content;
    display: inline-block;
    position: relative;
}

.unhide-1200 {
    display: none;
}

.hide-992 {
    display: block;
}

.unhide-992 {
    display: none;
}

.unhide-768 {
    display: none;
}
.unhide-576 {
    display: none;
}

.text-uppercase {
    text-transform: uppercase;
}
.center-relative-horizontal-fit-content {
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    width: fit-content;
}

.center-relative-horizontal {
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

.center-relative-vertical {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.fit-content {
    width: fit-content !important;
}

.center-relative {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.center-relative-fit-content {
    width: fit-content;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.horizontal-center-relative {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.vertical-center-relative {
    position: relative;
    width: fit-content;
    top: 50%;
    transform: translateY(-50%);
}

.horizontal-center-margin {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}
.padding-0 {
    padding: 0;
}

.bold-200 {
    font-weight: 200 !important;
}

.bold-300 {
    font-weight: 300;
}

.bold-400 {
    font-weight: 400;
}
.bold-600 {
    font-weight: 600;
}
.bold-900 {
    font-weight: 900;
}

.margin-left-auto {
    margin-left: auto;
}

.margin-global-right-05 {
    margin-right: 0.5rem;
}
.margin-global-left-05 {
    margin-left: 0.5rem;
}
.margin-global-4 {
    margin: 0 4rem;
}
.spacing {
    width: 0;
    padding: 0;
    margin: 0 1.5rem;
}
.spacing-1 {
    width: 0;
    padding: 0;
    margin: 0 0.5rem;
}
.margin-global-top-02 {
    margin-top: 0.2rem;
}
.margin-global-top-06 {
    margin-top: 0.6rem;
}

.margin-global-top-1 {
    margin-top: 1rem;
}

.margin-global-top-2 {
    margin-top: 2rem;
}

.margin-global-top-3 {
    margin-top: 3rem;
}

.margin-global-top-4 {
    margin-top: 4rem;
}

.margin-global-top-5 {
    margin-top: 5rem;
}

.margin-global-top-6 {
    margin-top: 6rem;
}

.margin-global-top-7 {
    margin-top: 7rem;
}

.margin-global-top-8 {
    margin-top: 8rem;
}

.margin-global-top-9 {
    margin-top: 9rem;
}

.margin-global-top-10 {
    margin-top: 10rem;
}

.padding-left-0-5 {
    padding-left: 0.5rem;
}
.margin-global-left-1 {
    margin-left: 1rem;
}
.margin-global-left-2 {
    margin-left: 2rem;
}
.margin-global-left-3 {
    margin-left: 3rem;
}

.content-read {
    color: black;
    text-align: justify;
    font-size: 1rem;
}
.content-read1 {
    color: black;
    text-align: justify;
    font-size: 0.8rem;
}

.disable-scroll {
    overflow: hidden !important;
}

.overlay {
    position: absolute;
    z-index: -99;
    background-color: black;
    opacity: 0;
    width: 100%;
    height: 100vh;
}
.active-overlay {
    z-index: 8;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px 0px;
    animation-name: overlayActive;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.remove-overlay {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px 0px;
    animation-name: overlayDisable;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes overlayActive {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.3;
    }
}

@keyframes overlayDisable {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 0;
    }
}

// Devices (less than 1700px)
@media (max-width: 106.1875em) {
}

// Devices (less than 1600px)
@media (max-width: 99.9375em) {
}

// Devices (less than 1500px)
@media (max-width: 93.6875em) {
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 87.49875em) {
    .hide-1400 {
        display: none;
    }
}

// Devices (less than 1300px)
@media (max-width: 81.1875em) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 74.99875em) {
    .hide-1200 {
        display: none;
    }
    .unhide-1200 {
        display: block;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 61.99875em) {
    .margin-global-top-1-xs {
        margin-top: 1rem;
    }
    .margin-global-top-2-xs {
        margin-top: 2rem;
    }
    .center-relative-992 {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .hide-992 {
        display: none;
    }
    .unhide-992 {
        display: block;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 47.99875em) {
    .hide-768 {
        display: none;
    }
    .unhide-768 {
        display: block;
    }
    .margin-global-top-2 {
        margin-top: 1rem;
    }

    .margin-global-top-3 {
        margin-top: 2rem;
    }

    .margin-global-top-4 {
        margin-top: 3rem;
    }

    .margin-global-top-5 {
        margin-top: 4rem;
    }

    .margin-global-top-6 {
        margin-top: 5rem;
    }

    .margin-global-top-7 {
        margin-top: 6rem;
    }

    .margin-global-top-8 {
        margin-top: 7rem;
    }

    .margin-global-top-9 {
        margin-top: 8rem;
    }

    .margin-global-top-10 {
        margin-top: 9rem;
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 35.99875em) {
    .unhide-576 {
        display: block;
    }
}

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width
