.big-box {
    border-radius: 15px;
    padding: 0;
    position: relative;
    margin: 0 0.5rem;
    a {
        text-decoration: none;
    }
    p {
        font-size: 1.5rem;
        font-weight: 600;
        opacity: 0;
        color: black;
        transition: opacity 0.5s;
    }
    .show-text {
        opacity: 1;
    }
    transition: 0.3s ease-in-out;
    &:hover {
        background-color: #8fbedf;
        img {
            opacity: 0;
        }
        p {
            color: white;
            opacity: 1;
        }
    }
}

.big-box-fixed-size {
    height: 18rem;
    width: 37rem;
}
.big-box-fixed-size-small {
    // height: 15rem;
    width: 18rem;
    margin-bottom: 0.5rem;
    display: block;
    img {
        // height: 100%;
        border-radius: 15px;
        width: 100%;
        position: relative;
        left: 0;
        opacity: 1;
        transition: 0.3s ease-in-out;
        object-fit: cover;
        height: 12rem;
    }
}

.blue-big-box {
    background-color: #8fbedf;
    border: 1px solid #8fbedf;
    p {
        color: white;
    }
    &:hover {
        background-color: white;
        p {
            color: #8fbedf !important;
        }
    }
}
.yellow-big-box {
    background-color: #f6d33e;
    border: 1px solid white;
    p {
        color: white;
    }
    &:hover {
        background-color: white;
        outline: 1px solid #f6d33e;
        p {
            color: #f6d33e;
        }
    }
}

.has-image {
    img {
        border-radius: 15px;
        width: 100%;
        height: 18rem;
        object-fit: cover;
        opacity: 1;
        transition: 0.3s ease-in-out;
    }
    &:hover {
        img {
            opacity: 0;
        }
    }
}

// Devices (less than 1700px)
@media (max-width: 106.1875em) {
}

// Devices (less than 1600px)
@media (max-width: 99.9375em) {
}

// Devices (less than 1500px)
@media (max-width: 93.6875em) {
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 87.49875em) {
    .big-box {
        p {
            font-size: 1.4rem;
        }
    }
    .big-box-fixed-size {
        height: 15rem;
        width: 29rem;
    }
    .has-image {
        img {
            height: 15rem;
        }
    }
    .big-box-fixed-size-small {
        width: 14rem;
    }
}

// Devices (less than 1300px)
@media (max-width: 81.1875em) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 74.99875em) {
    .big-box {
        p {
            font-size: 1.3rem;
        }
    }
    .big-box-fixed-size-small {
        width: 14rem;
    }
    .big-box-fixed-size {
        height: 15rem;
        width: 29rem;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 61.99875em) {
    .big-box {
        margin: 0 0.3rem;
        p {
            font-size: 1.2rem;
            width: 18rem;
        }
    }
    .big-box-fixed-size {
        height: 16rem;
        width: 21rem;
    }
    .has-image {
        img {
            height: 16rem;
        }
    }
    .big-box-fixed-size-small {
        width: 21rem;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 47.99875em) {
    .big-box {
        p {
            font-size: 1.2rem;
            width: 14rem;
        }
    }
    .big-box-fixed-size {
        height: 12rem;
        width: 16rem;
    }
    .has-image {
        img {
            height: 12rem;
        }
    }
    .big-box-fixed-size-small {
        width: 16rem;
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 35.99875em) {
    .big-box {
        p {
            // font-size: 1.2rem;
            width: 90%;
        }
    }
    .big-box-fixed-size {
        height: 10rem;
        width: 45%;
    }
    .has-image {
        img {
            height: 10rem;
        }
    }
    .big-box-fixed-size-small {
        width: 11.5rem;
    }
}
