.featured {
    .big-box-div {
        width: fit-content;
        padding: 0;
    }
    .display-hidden {
        display: none;
    }
    .extra-categories {
        flex-wrap: wrap;
        flex-direction: row;
        a {
            width: fit-content;
            text-decoration: none;
            transition: .3s ease-in-out;
            &:hover {
                color: #8fbedf;
            }
        }
    }
    .featured-cats {
        margin-bottom: 1rem;
    }
}