.package {
    width: 20rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px 0px;
    border-radius: 15px;
    position: relative;
    padding: 2.5rem 2.3rem;
    margin: 0 2rem;
    h3 {
        color: #f6d33e;
        font-weight: 600;
    }
    .plan-price {
        color: #8fbedf;
    }

    .row {
        justify-content: space-between !important;
    }
    .icon-text {
        position: relative;
        .icon {
            font-size: 1.5rem;
            position: absolute;
            color: #f6d33e;
        }
    }
    p {
        // font-size: 1rem;
        text-align: left;
        color: black;
        margin-bottom: 0;
    }
    .yellow {
        .icon {
            color: #f6d33e;
        }
    }
    .get-it-link {
        position: absolute;
        text-decoration: none;
        font-weight: 600;
        color: black;
        background-color: #f6d33e;
        text-align: center;
        font-size: 1.5rem;
        border-radius: 10px;
        border: 1px solid #f6d33e;
        transition: 0.3s ease-in-out;
        padding: 0.1rem 2rem;
        transform: translate(-50%, 50%);
        left: 50%;
        &:hover {
            color: #f6d33e;
            background-color: white;
        }
    }
}

// Devices (less than 1700px)
@media (max-width: 106.1875em) {
}

// Devices (less than 1600px)
@media (max-width: 99.9375em) {
}

// Devices (less than 1500px)
@media (max-width: 93.6875em) {
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 87.49875em) {
    .package {
        .get-it-link {
            font-size: 1.3rem;
        }
    }
}

// Devices (less than 1300px)
@media (max-width: 81.1875em) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 74.99875em) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 61.99875em) {
    .package {
        margin: 0 1rem;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 47.99875em) {
    .package {
        margin: 2rem 0rem;
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 35.99875em) {
}

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width
