.user-dashboard {
    .box-shadow-dashboard {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px 0px;
        padding: 1.5rem 1rem;
        padding-bottom: 0.5rem;
        border-radius: 15px;
        margin: 0.5rem 0;
    }
}