.filter-panel {
    .MuiToggleButtonGroup-root {
        border: 0px solid #f6d33e;
        border-radius: 10px;
        width: fit-content;
    }
    .MuiToggleButton-root.Mui-selected:hover {
        background-color: rgba($color: #f6d33e, $alpha: 0.5);
    }
    .MuiToggleButton-root.Mui-selected {
        color: rgba($color: #000000, $alpha: 0.54);
        background-color: rgba($color: #f6d33e, $alpha: 0.5);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .last-toggle {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .first-toggle {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .last-toggle.Mui-selected {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .square-toggle.Mui-selected {
        border-radius: 0;
    }
    .MuiToggleButton-root:hover {
        background-color: rgba($color: #f6d33e, $alpha: 0.05);
    }
    .MuiToggleButton-sizeSmall {
        border: 2px solid #f6d33e;
        width: 3rem;
    }
    input[type="checkbox"] {
        border-radius: 6px;
        border: 1px solid #f6d33e !important;
        width: 1.2em;
        height: 1.2em;
        &:focus {
            box-shadow: none;
        }
        &:checked {
            background-color: #f6d33e;
        }
    }
    .filter-panel-section-width {
        width: 13rem;
    }
    .filter-panel-section-list {
        height: 6.5rem;
        overflow-y: scroll;
    }
}
