.email-verified {
    text-align: center;
    h1 {
        text-transform: uppercase;
        color: black;
        font-weight: 600;
    }
    a {
        font-weight: 700;
        color: black;
        text-decoration: none;
    }
}