.setup {
    img {
        width: 15rem;
        border-radius: 15px;
    }
    .rbt-input-multi {
        background-color: transparent;
        border: 2px solid #f6d33e;
        padding: 0.6rem 0.75rem 0.6rem;
        border-radius: 10px;
        font-size: 1rem;
    }
    .rbt-token-remove-button {
        background-color: white;
        border: 2px solid #f6d33e;
        border-radius: 10px;
        margin-left: 0.5rem;
        span {
            font-size: 1.5rem;
        }
    }
    .form-yellow-buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .form-yellow-btn {
            padding: 0.2rem 0.5rem;
            background-color: #f6d33e !important;
            color: white;
            cursor: pointer;
            width: fit-content;
            text-align: center;
            font-weight: 600;
            font-size: 0.9rem;
            border: 1px solid #f6d33e !important;
            text-transform: uppercase;
            border-radius: 30px;
            transition: ease-in-out 0.3s;
            margin: 0 0.5rem;
            margin-bottom: 0.5rem;
            &:hover {
                background-color: transparent !important;
                color: #f6d33e;
                border: 1px solid #f6d33e !important;
            }
            &:active {
                background-color: #f5d9aa !important;
                color: white;
                box-shadow: none;
            }
            &:focus {
                box-shadow: none;
            }
        }
        .active {
            background-color: #f5d9aa !important;
            color: white;
            box-shadow: none;
            &:hover {
                background-color: #f5d9aa !important;
                color: white;
                border: 1px solid #f6d33e !important;
            }
        }
    }
    .MuiInput-underline::before {
        border-bottom: transparent;
    }
    .MuiInput-underline:hover:not(.Mui-disabled)::before {
        border-bottom: transparent;
    }
    .MuiInput-underline::after {
        border-bottom: transparent;
    }
    .less-padding {
        input[type="text"],
        input[type="email"],
        input[type="password"],
        textarea,
        select {
            padding: 0.3rem 0.75rem 0.3rem;
        }
    }
}

// Devices (less than 1700px)
@media (max-width: 106.1875em) {
}

// Devices (less than 1600px)
@media (max-width: 99.9375em) {
}

// Devices (less than 1500px)
@media (max-width: 93.6875em) {
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 87.49875em) {
}

// Devices (less than 1300px)
@media (max-width: 81.1875em) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 74.99875em) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 61.99875em) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 47.99875em) {
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 35.99875em) {
    .setup {
        .datetime-col-xs {
            width: 33.33333%;
        }
    }
}

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width
