.button-tab {
    text-decoration: none;
    font-weight: 600;
    color: white;
    background-color: #8fbedf;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 1px solid #8fbedf;
    transition: .3s ease-in-out;
    padding: 0.1rem 0;
    &:hover {
        color: #8fbedf;
        background-color: transparent;
    }
}

.active-button {
    color: #8fbedf;
    background-color: transparent;
}

.small-button-tab {
    font-size: 1rem;
    width: 7rem;
    display: block;
}

// .width-medium {
//     width: 9rem;
//     display: block;
// }
// .width-high {
//     width: 12rem;
//     display: block;
// }
// .width-full {
//     width: 14rem;
//     display: block;
// }

.button-tab-fit-content {
    width: fit-content;
    padding: 0.1rem 2rem;
    margin: 0 0.4rem;
}
// Devices (less than 1700px)
@media (max-width: 106.1875em) {
}

// Devices (less than 1600px)
@media (max-width: 99.9375em) {
}

// Devices (less than 1500px)
@media (max-width: 93.6875em) {
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 87.49875em) {
}

// Devices (less than 1300px)
@media (max-width: 81.1875em) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 74.99875em) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 61.99875em) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 47.99875em) {
    .button-tab-center {
        position: relative;
        // left: 25%;
        // transform: translateX(-50%);
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 35.99875em) {
}

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width